<div class="team">
  <h3>Team Name: <%= @team_name %></h3><br>
  <h4>Team Motto: <%= @team_motto %></h4><br>
</div><br>

<h1>Heroes</h1>
<% i = 0 %>
<% while i < 3 %>
  <div class="hero">
    <p>Name: <%= @hero_names %></p><br>
    <p>Hero Power: <%= @hero_powers %></p><br>
    <p>Bio: <%= @hero_bios %></p>
  </div><br>
<% end %>
